<div class="header row">
        <div class="logo col-lg-6 col-sm-12">
            <a href=""><img src="/assets/images/logo.png" alt=""></a>
        </div>
        <div class="menu col-lg-6 col-sm-12 text-right">
            <div class="searchbox" style="display:none;">
                <input type="text" placeholder="Search heritage item" />
            </div>
            <ul>
                <li>
                    <a href="/categories">Categories</a>
                </li>
                <li *ngIf="!isLoggedIn">
                    <a href="/login">Login</a>
                </li>
                <li *ngIf="!isLoggedIn">
                    <a href="/register">Sign up</a>
                </li>
                <li *ngIf="isLoggedIn">
                    <a href="/addupdate">Add New Item</a>
                </li>
                <li *ngIf="isLoggedIn">
                    <a href="/myheritages">My Heritages</a>
                </li>
                <li *ngIf="isLoggedIn">
                    <a href="/login?logout">Log out</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="breadcrumbs col-lg-12">
        </div>
    </div>