<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/style.css">
    <title>Document</title>
</head>
<body>
<div class="container">
    <div class="header row">
        <div class="logo col-lg-6 col-sm-12">
            <a href=""><img src="images/logo.png" alt=""></a>
        </div>
        <div class="menu col-lg-6 col-sm-12 text-right">
            <ul>
                <li><a href="login.html">Login</a></li>
                <li><a href="signup.html">Sign Up</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="breadcrumbs col-lg-12">
        </div>
    </div>
    <div class="row">
        <div class="content col-lg-12">
            <div class="box box-grid col-lg-4 col-md-6 col-sm-12"><a href="">
                    <div class="box-image">
                        <img src="images/monuments.jpg" alt="">
                    </div>
                    <div class="box-title-category">
                        <h2>Monuments</h2>
                    </div>
                </a></div>
            <div class="box box-grid col-lg-4 col-md-6 col-sm-12"><a href="">
                    <div class="box-image">
                        <img src="images/archeological_sites.jpg" alt="">
                    </div>
                    <div class="box-title-category">
                        <h2>Archeological Sites</h2>
                    </div>
                </a></div>
            <div class="box box-grid col-lg-4 col-md-6 col-sm-12"><a href="museums.html">
                    <div class="box-image">
                        <img src="images/museums.jpg" alt="">
                    </div>
                    <div class="box-title-category">
                        <h2>Museums</h2>
                    </div>
                </a></div>
            <div class="box box-grid col-lg-4 col-md-6 col-sm-12"><a href="">
                    <div class="box-image">
                        <img src="images/sculptures.jpg" alt="">
                    </div>
                    <div class="box-title-category">
                        <h2>Sculptures</h2>
                    </div>
                </a></div>
            <div class="box box-grid col-lg-4 col-md-6 col-sm-12"><a href="">
                    <div class="box-image">
                        <img src="images/paintings.jpg" alt="">
                    </div>
                    <div class="box-title-category">
                        <h2>Paintings</h2>
                    </div>
                </a></div>
            <div class="box box-grid col-lg-4 col-md-6 col-sm-12"><a href="">
                    <div class="box-image">
                        <img src="images/books.jpg" alt="">
                    </div>
                    <div class="box-title-category">
                        <h2>Books</h2>
                    </div>
                </a></div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-1.9.1.min.js" integrity="sha256-wS9gmOZBqsqWxgIVgA8Y9WcQOa7PgSIX+rPA0VL2rbQ=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>